<a href="https://colab.research.google.com/github/khakisalmon/python_programming/blob/main/9%EC%A3%BC%EC%B0%A8_%EC%88%99%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [ ]:
number_list = []
for number in range(1, 6):
     number_list.append(number)

In [ ]:
number_list = list(range(1, 6))

In [ ]:
number_list = [number for number in range(1,6)]

In [ ]:
number_list = [number-1 for number in range(1,6)]

In [ ]:
a_list = [number for number in range(1,6) if number % 2 == 1]

In [ ]:
a_list = []
for number in range(1,6): 
   if number%2 == 1:
       a_list.append(number)

In [ ]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [ ]:
# 함수 적용
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [ ]:
# 조건 적용
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [ ]:
# 함수 적용하여 튜플로 저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [ ]:
rows = range(1,4) 
cols = range(1,3) 
for row in rows:
    for col in cols: 
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [ ]:
rows = range(1,4) 
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols] 
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [ ]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [ ]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

In [ ]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}

In [ ]:
a_set = {number for number in range(1,6) if number % 3 == 1}

In [ ]:
def sum(a,b):
     return a+b

sum(1,2)
sum(1.3, 3.1)
sum('love ','python')

'love python'

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday'] 
fruits = ['banana', 'orange', 'peach'] 
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts): 
             print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [ ]:
english = 'Monday', 'Tuesday', 'Wednesday' 
french = 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')] 
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [ ]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')
{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [ ]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu(entree='beef', dessert='bagel', wine='bordeaux') 
{'dessert': 'bagel', 'wine': 'bordeaux', 'entree': 'beef'}

{'dessert': 'bagel', 'wine': 'bordeaux', 'entree': 'beef'}

In [ ]:
menu('frontenac', dessert='flan', entree='fish') 
{'entree': 'fish', 'dessert': 'flan', 'wine': 'frontenac'}

{'entree': 'fish', 'dessert': 'flan', 'wine': 'frontenac'}

In [ ]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken')
{'dessert': 'pudding', 'wine': 'chardonnay', 'entree': 'chicken'}

{'dessert': 'pudding', 'wine': 'chardonnay', 'entree': 'chicken'}

In [ ]:
menu('dunkelfelder', 'duck', 'doughnut')
{'dessert': 'doughnut', 'wine': 'dunkelfelder', 'entree': 'duck'}

{'dessert': 'doughnut', 'wine': 'dunkelfelder', 'entree': 'duck'}

In [ ]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'): 
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

menu(100)                              # 1 위치 인자 
menu(price=100)                        # 1 키워드 인자
menu(price=120, entree='beef')         # 2 키워드 인자
menu(dessert='bagel', price=110)       # 2 키워드 인자
menu('eighty', 'saint-pierre', 'fish')  # 3 위치 인자
menu('hundred', wine ='saint-pierre')   # 1 위치 인자, 1 키워드 인자

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [ ]:
def print_if_true(thing, check): 
   """
    Prints the first argument if a second argument is true. 
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument. 
   """
   if check: 
      print(thing)

In [ ]:
 print_if_true('hahaha',1!=3)

hahaha

In [ ]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.