<a href="https://colab.research.google.com/github/khakisalmon/python_programming/blob/main/HW3_Tuples_2023240666.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [ ]:
# Print the type of the tuple you created

type(tuple1)

tuple

<h3 id="index">Indexing</h3>

In [ ]:
# Print the variable on each index

print(tuple1[0]) #"disco"
print(tuple1[1]) #10
print(tuple1[2]) #1,2

disco
10
1.2

In [2]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [4]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [5]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

<h3 id="concate">Concatenate Tuples</h3>

In [6]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
len(tuple2)

5

<h3 id="slice">Slicing</h3>

In [7]:
# Slice from index 0 to index 2

tuple2[0:5]

('disco', 10, 1.2, 'hard rock', 10)

In [8]:
# Slice from index 3 to index 4

tuple3 = tuple2[3:5]
type(tuple3)
print(tuple3)

('hard rock', 10)

In [ ]:
# Get the length of tuple

len(tuple2)

5

<h3 id="sort">Sorting</h3>

In [11]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [12]:
# Sort the tuple

RatingsSorted = sorted(Ratings) #정렬...sorted
type(RatingsSorted)

list

<h3 id="nest">Nested Tuple</h3>

In [13]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

#NestedT[0] --> 1
#NestedT[2] ---> ("pop", "rock") : tuple ()
#NestedT[3] ---> (3,4) : tuple ()
#NestedT[4] --->("disco", (1,2)) : tuple
#NestedT[4][0] -->"disco" :""
#NestedT[4][1] --> (1,2) : () tuple
#NestedT[4][1][0] --> 1 : integer

In [14]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [15]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [16]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [17]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [18]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [19]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

<h2 id="quiz">Quiz on Tuples</h2>

In [20]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, <code>genres_tuple</code>:

In [23]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

Access the element, with respect to index 3:

In [26]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [28]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Find the first two elements of the tuple <code>genres_tuple</code>:

In [32]:
# Write your code below and press Shift+Enter to execute
genres_tuple[0:2]

('pop', 'rock')

Find the first index of <code>"disco"</code>:

In [34]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple <code>C_tuple=(-5, 1, -3)</code>:

In [35]:
# Write your code below and press Shift+Enter to execute
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

<hr>