<a href="https://colab.research.google.com/github/khakisalmon/python_programming/blob/main/hw4_List_2023240666.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Lists in Python</h1>

In [1]:
# Create a list

L = ["Michael Jackson", 10.1, 1982] #[] : indexing
L

['Michael Jackson', 10.1, 1982]

In [2]:
type(L[2])

int

In [ ]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

<h3 id="content">List Content</h3>

In [3]:
#Differnece between List and Tuple is List is mutable (changeable) but not tuple

L1 = ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
print("before L1[0] changed", L1)
L1[0] = "Janet"
print("after L1[0] changed", L1)

before L1[0] changed ['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]
after L1[0] changed ['Janet', 10.1, 1982, [1, 2], ('A', 1)]

In [9]:
Tuple1=("Michael Jackson", 10.1, 1982)
Tuple1
Tuple1[0]="Janet" #tuple은 데이터 변경이 안되어 에러가 난다

TypeError: ignored

In [5]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [6]:
# List slicing

L[3:5]

['MJ', 1]

In [14]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10]) #['pop', 10] --> list 
L[3]

[]

In [15]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10]) #['pop', 10]이 하나의 구성요소로 들어간다. 2안에 pop,10이 들어가 있다
L[2][0]

'pop'

In [16]:
# Delete the element based on the index
A = ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
After change: [10.2, 'pop', 10, ['a', 'b']]

In [19]:
A = ['Michael Jackson', 10.2, 'pop', 10]
A

['Michael Jackson', 10.2, 'pop', 10]

In [24]:
# Split the string, default is by space

what='hard rock'.split() #문자열을 스페이스 기준으로 쪼갠다
print(what)
type(what)
what[1]

['hard', 'rock']

'rock'

In [26]:
from re import split
# Split the string by comma

Split_string_comma='A,B,C,D'.split(',') #, 기준으로 데이터 분할
Split_string_comma
type(Split_string_comma)
Split_string_comma[0]

'A'

<h3 id="co">Copy and Clone List</h3>

In [28]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A # B = A (같은 곳을 가리킨다 not equal to 같은 값을 두개 따로 가지는 것은 아니다) -->B에게 알려준다.. 너는 인제 A에서 찾아야 해...B = A (assign)


A[0] = "R&B" # A의 0번째 데이터 변환

print('A:', A) #R&B, 10, 1.2
print('B:', B) #'hard rock, 10, 1.2

A: ['R&B', 10, 1.2]
B: ['R&B', 10, 1.2]

Initially, the value of the first element in <b>B</b> is set as hard rock. If we change the first element in <b>A</b> to <b>banana</b>, we get an unexpected side effect.  As <b>A</b> and <b>B</b> are referencing the same list, if we change list <b>A</b>, then list <b>B</b> also changes. If we check the first element of <b>B</b> we get banana instead of hard rock:

In [29]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: R&B
B[0]: banana

You can clone list  **A** by using  the following syntax:

In [30]:
# Clone (clone by value) the list A
A = ["hard rock", 10, 1.2]
B = A[:] #A[:] #B는 A의 List를 복사해서 별도 List를 만든다. 이게 바로 Clone #Copy는 주소만 연결 Clone은 데이터 복사해서 별도 리스트 생성
print(A)
print(B)
A[0] ='R&B'
print(A)
print(B)
#A[0] = "Banana"
#print(B)
#print(A)

['hard rock', 10, 1.2]
['hard rock', 10, 1.2]
['R&B', 10, 1.2]
['hard rock', 10, 1.2]

<h2 id="quiz">Quiz on List</h2>

Create a list <code>a_list</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [46]:
# Write your code below and press Shift+Enter to execute
a_list=[1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of <code>a_list</code>.

In [47]:
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

In [48]:
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

In [49]:
# Write your code below and press Shift+Enter to execute

A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']