<a href="https://colab.research.google.com/github/khakisalmon/python_programming/blob/main/hw5_Conditions(2023240666).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Conditions in Python</h1>

<h3 id="comp">Comparison Operators</h3>

In [ ]:
# Condition Equal

a = 5
a == 6 #a 가 6이니?

False

The result is <b>False</b>, as 5 does not equal to 6.

In [ ]:
# Greater than Sign

i = 6
i > 7

False

Set <code>i = 2</code>. The statement is false as 2 is not greater than 5:

In [ ]:
# Greater than Sign

i = 2
i > 5

False

In [ ]:
# Inequality Sign

i = 2
i != 2 #!= not equal to...

False

When <code>i</code> equals 6 the inequality expression produces <b>False</b>.

In [ ]:
# Inequality Sign

i = 6
i != 6

False

 We can apply the same methods on strings. For example, use an equality operator on two different strings. As the strings are not equal, we get a **False**.

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

True

 If we use the inequality operator, the output is going to be **True** as the strings are not equal.

In [ ]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

<h3 id="branch">Branching</h3>

In [1]:
# If statement example

age = 17

#expression that can be true or false
if age > 18:
    #within an indent, we have the expression that is run if the condition is true
  print("you can enter" )
else:
  print("Prohibited")  
  print("okay")

#The statements after the if statement will run regardless if the condition is true or false 
#print("move on")

Prohibited
okay

<i>Try uncommenting the age variable</i>

In [3]:
# Else statement example

age = 18
#age = 19

if age > 18:
  print("you can enter" )
else:
  print("go see Meat Loaf" )
    
print("move on")

you can enter
move on

The process is demonstrated below, where each of the possibilities is illustrated on each side of the image. On the left is the case where the age is 17, we set the variable age to 17, and this corresponds to the individual attending the Meatloaf concert. The right portion shows what happens when the individual is over 18, in this case 19, and the individual is granted access to the concert.

In [4]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18: #else if 
    print("go see Pink Floyd")
elif age == 0:
    print("this kid cannot leave home") 
else:
    print("go see Meat Loaf" )
    
#print("move on")

this kid cannot leave home

 Look at the following code:

In [5]:
# Condition statement example

album_year = 1983

if album_year > 1980:
    print("Album year is greater than 1980")
    
#print('do something..')

Album year is greater than 1980

In [ ]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

<h3 id="logic">Logical operators</h3>

 The block of code to perform this check is given by:

In [ ]:
# Condition statement example

album_year = 1991

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")   
else:
    print("this is not the case")

this is not the case

The block of code to perform this check is given by:

In [ ]:
# Condition statement example

album_year = 1980

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

The Album was made in the 1980's

The <code>not</code> statement checks if the statement is false:

In [ ]:
# Condition statement example

album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

<hr>

<h2 id="quiz">Quiz on Conditions</h2>

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>“Back in Black”</b> that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [16]:
# Write your code below and press Shift+Enter to execute
rating=8.5

if rating > 8 :
   print ("This album is Amazing!")

This album is Amazing!

<hr>

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [15]:
# Write your code below and press Shift+Enter to execute
rating=8

if rating > 8 :
   print ("This album is Amazing!")
else :
   print ("this album is ok")

this album is ok

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [17]:
# Write your code below and press Shift+Enter to execute
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print ("this album came out already")

this album came out already